ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
    outline: 1px solid red;
    padding: 0 15px;
}

.js-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.js-item{
    flex-basis: calc((100% - 60px) / 3);
    padding: 20px;
    outline: 1px solid gray;
    border-radius: 5px;
    background-color: beige;
}

img{
    width: 100%;
    height: 300px;
}