ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
    outline: 1px solid red;
    padding: 0 15px;
}

.js-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.js-item{
    flex-basis: calc((100% - 60px) / 3);
    padding: 20px;
    outline: 1px solid gray;
    border-radius: 5px;
    background-color: beige;
}

img{
    width: 100%;
    height: 300px;
}


.open{
    background-color: aqua;
    color: red;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    display: block;
    margin: 50px auto;
   
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.386);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.modal{
    width: 500px;
    
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
}

.modal-title{
    font-size: 30px;
    color: red;
    text-align: center;
}

.modal-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label{
    display: block;
    font-size: 20px;
    color: blueviolet;
}

input{
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.modal-submit{
    width: 200px;
    height: 50px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
}